<!--
  Generated template for the UserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>List Babyfoot</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list>
    <ion-card *ngFor="let item of allFussballTables" (click)="tableSelected(item)">
      <ion-grid>
        <ion-row>
          <ion-card-header col-6>
            {{item.location}}
          </ion-card-header>

          <ion-card-content col-6 *ngIf="item.available">
            <button col-12 ion-button color="secondary">Disponible</button>
          </ion-card-content>
          <ion-card-content col-6 *ngIf="!item.available">
            <button col-12 ion-button color="danger">Indisponible</button>
          </ion-card-content>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-list>
</ion-content>