<!--
  Generated template for the PlayerDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{babyfoot.location}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>

    <ion-item>
      <ion-avatar item-start>
        <img src="http://cdn.oogarden.net/Product/0327/0327-0005-Zoom.jpg">
      </ion-avatar>
      <h2>{{babyfoot.location}}</h2>
      <p>{{babyfoot.max_players}} players</p>
    </ion-item>

    <img src="http://cdn.oogarden.net/Product/0327/0327-0005-Zoom.jpg">

    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
          <div *ngIf="babyfoot.available">
              <button col-12 ion-button color="secondary">Disponible</button>
          </div>
          <div *ngIf="!babyfoot.available">
              <button col-12 ion-button color="danger">Indisponible</button>
          </div>
        </button>
      </ion-col>
    </ion-row>

  </ion-card>

</ion-content>
